<template>
  <div>
    <h1 class="title">Ваша корзина</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>
      <transition-group name="slide" tag="tbody">
          <tr v-for="(item, index) in selectedItems" :key="item.key">
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
            <td @click="removeItem(index)">
              <i class="material-icons delete-button has-text-danger">
                delete
              </i>
            </td>
          </tr>
      </transition-group>
    </table>
    <div>
      <h3 class="title">Общяя стоимость: {{ price }} грн</h3>
    </div>
    <button class="button is-danger m-10" @click="clearCart" v-show="countItems">Очистить корзину</button>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
export default {
  name: 'Cart',
  data () {
    return {}
  },
  computed: {
    countItems () {
      return this.$store.state.selectedItems.length
    },
    selectedItems () {
      return this.$store.state.selectedItems
    },
    price () {
      let price = 0
      this.$store.state.selectedItems.forEach((el) => {
        price += el.price
      })
      return price
    }
  },
  methods: {
    removeItem (index) {
      Swal.fire({
        title: 'Продукт удален из корзины!',
        timer: 1000,
        showConfirmButton: false,
        type: 'error'
      })
      this.$store.commit('removeItemFromSelectedItems', index)
      if (!this.countItems) {
        this.$router.push({
          name: 'home'
        })
      }
    },
    clearCart () {
      Swal.fire({
        title: 'Вы уверены, что хотите очистить корзину?',
        text: 'Это дейтвие нельзя отменить!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Очистить корзину!',
        cancelButtonText: 'Отменить'
      }).then((result) => {
        if (result.value) {
          this.$store.commit('clearSelectedItems')
          Swal.fire({
            title: 'Корзина очищена!',
            type: 'success',
            confirmButtonText: 'Продолжить!'
          })
          this.$router.push({
            name: 'home'
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .delete-button {
    font-size: 30px;
    cursor: pointer;
  }
  .slide-enter {
    opacity: 0;
  }
  .slide-enter-active {
    animation: slide-in 1s ease-out forwards;
    transition: opacity .5s;
  }
  .slide-leave {}
  .slide-leave-active {
    animation: slide-out 1s ease-out forwards;
    transition: opacity 1s;
    opacity: 0;
    position: absolute;
  }
  .slide-move {
    transition: transform 1s;
  }

  @keyframes slide-in {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(20px);
    }
  }
</style>
