<template>
  <div class="home">
    <div class="columns is-multiline">
      <Item class="column is-4" v-for="item in items" :key="item.id" :item="item" />
    </div>
  </div>
</template>

<script>
import Item from '@/components/Item'
export default {
  name: 'home',
  components: {
    Item
  },
  computed: {
    items () {
      return this.$store.state.items
    }
  }
}
</script>

<style lang="scss">
  @media all and (min-width: 769px) {
    .home {
      .columns {
        justify-content: center;
        .box {
          overflow: hidden;
          margin: 15px 10px 0 0;
          width: 30%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          .content{
            p {
              height: 340px;
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 1472px) {
    .home {
      .columns {
        .box {
          .media {
            display: block;
            .media-left {
              .image {
                width: 128px;
                height: 128px;
                margin: 10px auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .media-content {
              .content {
                .button {
                  display: block;
                  margin: 10px auto;
                }
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 1280px) {
    .home {
      .columns {
        .box {
          .content {
            p {
              height: 400px;
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 1088px) {
    .home {
      .columns {
        .box {
          width: 28%;
          margin-left: 25px;
        }
      }
    }
  }
  @media all and (max-width: 769px) {
    .home {
      .columns {
        .box {
          width: 93%;
          margin: 10px auto;
          .media {
            display: flex;
            .media-left {
              .image {
                width: 128px;
                height: 128px;
              }
            }
          }
        }
      }
    }
  }
</style>
