<template>
  <div class="is-pulled-right cart" @click="openCartPage">
    <i class="material-icons">
      shopping_cart
    </i>
    <span v-show="countItems" class="has-background-success">{{ this.countItems }}</span>
  </div>
</template>

<script>
import Swal from 'sweetalert2'

export default {
  name: 'CartIcon',
  computed: {
    countItems () {
      return this.$store.state.selectedItems.length
    }
  },
  methods: {
    openCartPage () {
      if (this.countItems) {
        this.$router.push({
          name: 'cart'
        })
      } else {
        Swal.fire({
          type: 'error',
          title: 'Корзина пуста',
          confirmButtonText: 'Продолжить'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .cart {
    padding: 10px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    span {
      font-size: 15px;
      font-weight: 700;
      border-radius: 50px;
      color: #fff;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 7px;
      bottom: 12px;
      text-align: center;
      line-height: 18px;
    }
    i {
      font-size: 33px;
    }
  }
  @media all and (max-width: 1087px) {
    .navbar {
      .cart {
        span {
          left: auto;
          right: 7px;
        }
      }
    }
  }
</style>
