<template>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img :src="item.image" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ item.title }}</strong>
            <br>
            {{ item.description }}
          </p>
          <a class="button is-success" @click="addToCart(item.id)">Добавить в корзину</a>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
            </a>
            <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
            </a>
            <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
export default {
  name: 'Item',
  props: {
    item: {
      type: Object,
      default: function () {
        return {
          id: 0,
          title: 'Some title',
          image: 'https://bulma.io/images/placeholders/128x128.png',
          description: 'Some description',
          price: 0
        }
      }
    }
  },
  methods: {
    addToCart (id) {
      Swal.fire({
        title: 'Продукт добавлен в корзину!',
        timer: 1000,
        showConfirmButton: false,
        type: 'success'
      })
      this.$store.commit('addSelectedItem', id)
    }
  }
}
</script>
