<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href=""></a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" @click="expandMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" :class="{'mobile-menu': menuVisible}">
      <div class="navbar-start">
        <slot></slot>
      </div>
    </div>
    <CartIcon class="cart" />
  </nav>
</template>

<script>
import CartIcon from '@/components/CartIcon'
export default {
  name: 'NavBar',
  data () {
    return {
      menuVisible: false
    }
  },
  components: {
    CartIcon
  },
  methods: {
    expandMenu () {
      this.menuVisible = !this.menuVisible
    }
  }
}
</script>

<style lang="scss" scoped>
  .navbar {
    .mobile-menu {
      display: block;
    }
  }
  @media all and (max-width: 1087px) {
    .navbar {
      position: relative;
      margin-bottom: 20px;
      .cart {
        position: absolute;
        top: 0;
      }
    }
  }
</style>
