<template>
  <div id="app">
    <div id="nav">
      <!--todo-->
      <NavBar>
        <a class="navbar-item">
          <router-link to="/">Главная</router-link>
        </a>
      </NavBar>
    </div>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar'
export default {
  components: {
    NavBar
  },
  beforeCreate () {
    this.$store.commit('initialiseSelectedItems')
  }
}
</script>

<style lang="scss">
  #app {
    margin-bottom: 50px;
  }
  html {
    overflow-y: auto !important;
  }
  body {
    padding-right: 0 !important;
  }
  .m-10 {
    margin-top: 10px;
  }
</style>
